@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    
}
.nav{
    background-color: #205375;
    width: 100%;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-size: 69px;
    margin-top: auto;  
    color: white; 
   
} 
#container{
    background-color: #EFEFEF;  ;
}
.map{
    width: 1290px;
    height: 771px;
    
    display: inline-block;
  }

#tableraces{
    width: 560px;
    height: 771px;
    background-color: #EFEFEF;    
    display: inline-block;
     overflow: hidden;
     overflow-y: scroll;
}
#race-box1{
    width: 400px;
    height: 100px;
    display: flex;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.title {
    width: 400px;
    height: 36px;
    font-size: 38px;
    text-align: center;
}
.lokalizacja {
    width: 400px;
    height: 33px;
    font-size: 28px;
    text-align: center;
    
}
.dataityp {
    width: 400px;
    height: 33px;
    font-size: 20px;
    text-align: center;
}
#buttonracebox{
    width: 75px;
    height: 20px;
    justify-self: center;
    border-radius: 100px;
    border-color: black;
    background: black;   
}
#buttonwrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
    color: white;
}
#buttonracebox:hover{
    background-color: rgb(61, 59, 59);
    border-color: rgb(61, 59, 59);;
}
#line{
    height: 5px;
    width: 100px;
    background-color: blue; 
}

#footer {
   width: 100%;
   height: 170px;
    background-color: #112B3C;
}

li{
    list-style: none;
    position: fixed;
    display: inline-block;
}
@media screen and (max-width: 600px) {
     .nav{
      font-size: 25px;}
    .map{
        max-width: 100%;
        height: 377px;
        
    }
    #tableraces, #race-box1{
        max-width: 100%;
        
    }
    
}  