@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    
}
.nav{
    background-color: #205375;
    width: 100%;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-size: 69px;
    margin-top: auto;  
    color: white; 
   
} 
#container{
    background-color: #EFEFEF;  ;
}
.map{
    width: 1290px;
    height: 771px;
    
    display: inline-block;
  }

#tableraces{
    width: 560px;
    height: 771px;
    background-color: #EFEFEF;    
    display: inline-block;
     overflow: hidden;
     overflow-y: scroll;
}

#myInput , #myInput1{
    margin-top: 5px;
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 45%; /* Full-width */
    font-size: 15px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    justify-content: center;
  }

#borderline{
    width: 400px;
    height: 130px;
    border-style: solid;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-radius: 0px;
    border-color:#112B3C ;
}
#race-box1{
    width: 400px;
    height: 100px;
    display: flex;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.title {
    width: 400px;
    height: 36px;
    font-size: 28px;
    text-align: center;
}
.lokalizacja {
    width: 400px;
    height: 33px;
    font-size: 22px;
    text-align: center;
    
}
.dataityp {
    width: 400px;
    height: 33px;
    font-size: 17px;
    text-align: center;
}
#buttonracebox{
    width: 75px;
    height: 20px;
    justify-self: center;
    border-radius: 100px;
    border-color: #112B3C;
    background: #112B3C;   
}
#buttonwrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
    color: white;
}
#buttonracebox:hover{
    background-color: rgb(61, 59, 59);
    border-color: rgb(61, 59, 59);;
}
#line{
    height: 5px;
    width: 100px;
    background-color: blue; 
}

#footer {
   width: 100%;
   height: 170px;
    background-color: #112B3C;
}

li ,ul{
    list-style: none;
    vertical-align: top;
    display: inline-block;
    
}



@media screen and (max-width: 600px) {
     .nav{
      font-size: 25px;}
    .map{
        max-width: 100%;
        height: 377px;
        
    }
    #tableraces, #race-box1{
        max-width: 100%;
        
    }
    
}  